@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layuimini-v2/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuimini-v2/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">材料名</label>
            <div class="layui-input-block">
                <select name="name" lay-filter="aihao" id="rarentSelect">
                    <option value=""></option>

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">数量</label>
            <div class="layui-input-block">
                <input type="number" name="num" lay-verify="required" lay-reqtext="数量不能为空" placeholder="请输入数量" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    <script src="/layuimini-v2/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$,
                laydate = layui.laydate;

            laydate.render({
                elem: '#startTime'
            });

            laydate.render({
                elem: '#endTime'
            });

            var ordersId = sessionStorage.getItem('ordersId');
            console.log(ordersId)
            //发起异步请求获取下拉框
            $.ajax({
                url: '/Material/GetOPtionList',
                type: 'get',
                data: {
                    ordersId: ordersId
                },
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        $('#rarentSelect').append('<option value="' + res.data[i].id + '" >  ' + res.data[i].name + '</option>')
                    }

                    console.log(res)
                    form.render('select')
                },

            })
            //监听提交
            form.on('submit(saveBtn)', function (data) {
                data = data.field;
                $.ajax({
                    url: '/Orders/ChooseOrdersMaterial',
                    type: 'post',
                    data: {
                        materialId: data.name,
                        num: data.num,
                        // address: data.address,
                        ordersId: ordersId,
                    },
                    success: function (res) {
                        console.log(res)
                        if (res.code == 0) {
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        } else {
                            layer.msg(res.msg)
                        }
                    },
                })
            });

            return false;

            });

      
    </script>
</body>
</html>